.form-error {
    color:darkred;
}
span{
	font-size: 80%;
}
label{
	font-size: 80%;
}
.li_form{
	/*border: solid #696969 2px;*/
	text-align: center;
	margin-top: -10%;
	display: inline-block;
}
.si_form{
	/*border: solid #696969 2px;*/
	text-align: center;
	padding: 1%;
	width: 60%;
	/*position: relative;*/
	left: 20%;
	/*display: inline-block;*/
}
