.form-error {
    color:darkred;
}
span{
	font-size: 70%;
}
label{
	font-size: 70%;
	display: inline-block;
	width: 10%;
}
label[for=li_login]{
	width: 30%;
}
label[for=li_password]{
	width: 30%;
}
.li_form{
	text-align: center;
/*	margin-top: -10%;
	display: inline-block;*/
}
.si_form{
	text-align: center;
	padding: 1%;
}
@media screen and (max-width: 960px) {
  input{width: 50%;}
}