.main-nav {
  padding: 0 40px 0 25px;
  font-family: MeriendaOne-Regular;
  font-size: 100%;
  text-align: center;
}
span.nav{
  font-size: 90%;
}
.main-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow:  row nowrap;
  justify-content: center;
  align-items : stretch;
  align-content : center;
  list-style: none;
}
.main-nav a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  color: #dcdcdc;

  background: none;
  transition: background 0.2s;
}
.main-nav a:hover, .main-nav a:focus {
  background: #121314;
  transition: background 0.5s;
  opacity: 0.9;
  text-decoration: underline #696969;

}
.main-nav a.no-hover:hover, .main-nav a.no-hover:focus {
  background: none;
  text-decoration: none;
}
.main-nav .h-logo img:hover, .main-nav .h-logo img:focus {
  background: #121314;
  border-radius: 100%;
  opacity: 0.9;

}
.main-nav span {
  display: block;
  padding: 1.6em;
}

#main-nav-list li{
  flex: 0 1 auto;
  align-self:flex-end;
  text-align: center;
}

#main-nav-list li a{
  border-bottom: solid medium #222326;
}

#main-nav-list li a:hover, #main-nav-list li a:focus{
  border-bottom: solid medium #696969;
}
#main-nav-list li a.technologie:hover, #main-nav-list li a.technologie:focus{
  border-bottom: solid medium #ed1b24;
}
#main-nav-list li a.sport:hover, #main-nav-list li a.sport:focus{
  border-bottom: solid medium #d2691e;
}
#main-nav-list li a.jeux-video:hover, #main-nav-list li a.jeux-video:focus{
  border-bottom: solid medium #0070bc;
}
#main-nav-list li a.cine-serie:hover, #main-nav-list li a.cine-serie:focus{
  border-bottom: solid medium #d200ff;
}
#main-nav-list li a.musique:hover, #main-nav-list li a.musique:focus{
  border-bottom: solid medium #009245;
}

#main-nav-list li a.technologie.active, #main-nav-list li a.technologie.active{
  background: #121314;
  border-bottom: solid medium #ed1b24;
}
#main-nav-list li a.sport.active, #main-nav-list li a.sport.active{
  background: #121314;
  border-bottom: solid medium #d2691e;
}
#main-nav-list li a.jeux-video.active, #main-nav-list li a.jeux-video.active{
  background: #121314;
  border-bottom: solid medium #0070bc;
}
#main-nav-list li a.cine-serie.active, #main-nav-list li a.cine-serie.active{
  background: #121314;
  border-bottom: solid medium #d200ff;
}
#main-nav-list li a.musique.active, #main-nav-list li a.musique.active{
  background: #121314;
  border-bottom: solid medium #009245;
}
@media screen and (max-width: 960px) {
  /*span.nav{font-size: 70%;}*/
}